html
{
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

footer {
  align-items: center;
  font-size: 12px;

}

footer .col-sm-12 {
  text-align: center;
  background: rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.1);
  padding:  10px;
  padding-left: 0px;
  margin:0;
  color:white;
  left:0px;
}


h1
{
  /*font-size: 70px;*/
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.001em;
  font-weight: 100em;
  font-size: 6vw;
  font-size:10vh;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
  margin: .01em;
  padding-top: 14rem;
}
h6
{
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.001em;
  font-weight: 100em;
  font-size: 2vw;
  font-size:3vh;
  font-family: 'Exo', sans-serif;
  margin: 0.01em;
}
h2
{
margin: .01em;
  color: #ffffff;
  letter-spacing: 0.001em;
  font-weight: 100em;
  font-size: 6vw;
  font-size:10vh;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;

  text-align: center;

}
input{
  width: 6vw;
  padding: 10px 20px;
  border-color: transparent;
  border-bottom: 1px solid darkgrey;
  font-size: 3vh;
  color: white;
  background: rgba(0,0,0,.1);

}

input:focus{
  outline: none;
}

body
{
	background: linear-gradient(270deg, #0f9875, #0f5e8b, #943829);
	background-size: 400% 400%;
	-webkit-animation: Gradient 200s ease infinite;
	-moz-animation: Gradient 200s ease infinite;
	animation: Gradient 200s ease infinite;
  transition: opacity 1s linear;


}


@-webkit-keyframes Gradient
{
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
@-moz-keyframes Gradient
{
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
	@keyframes Gradient
{
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
