html
{
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
h1
{
  /*font-size: 70px;*/
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.001em;
  font-weight: 100em;
  font-size: 6vw;
  font-family: 'Exo', sans-serif;
  text-transform: uppercase;
}

body
{
	background: linear-gradient(270deg, #0f9875, #0f5e8b, #943829);
	background-size: 400% 400%;
	-webkit-animation: Gradient 100s ease infinite;
	-moz-animation: Gradient 100s ease infinite;
	animation: Gradient 100s ease infinite;
}

@-webkit-keyframes Gradient
{
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
@-moz-keyframes Gradient
{
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
	@keyframes Gradient
{
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
